.header {
  background: var(--white);
  display: flex;
  justify-content: flex-end;
  padding: 2rem 6rem;
  gap: 3.5rem;
  color: var(--pink-500);
}
@media (max-width: 768px) {
  .header {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header > * {
    margin-bottom: 1rem;
  }
}
