.menu {
  color: var(--pink-500);
  list-style: none;
  display: flex; /* Menu é oculto por padrão */
  justify-content: flex-end;
  padding: 2rem 6rem;
  gap: 3.5rem;
}

.btnMobile {
  display: none;
}

@media (max-width: 768px) {
  .header nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .btnMobile {
    display: block;
  }
  .menu.active {
    display: flex;
  }
  .menu:not(.active) {
    display: none;
  }
}
